:root {
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);
    --light-gray: #87949c;
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --fuente-titulos: 'Poppins', sans-serif;
    --fuente-cuerpo: 'Open Sans', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0 auto;
}
body {
    font-family: var(--fuente-cuerpo);
    font-size: 15px;
}
h1,
h2,
.parrafo {
    text-align: center;
    color: var(--very-dark-cyan);
    margin-top: .8em;
    margin-bottom: 1em;
}
h1 {
    font-size: 1.8em;
}
h2 {
    font-size: 1.5em;
}
.parrafo {
    font-size: .9em;
    line-height: 1.5em;
}

/* ---------------  CABECERA  --------------- */

.cabecera {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    /* position: fixed; */
}
.cabecera__logo {
    margin: 0;
    height: 1.2em;
}

/* --------------  CONTENEDOR  -------------- */

.contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    margin-top: 70px;
}

/* ------------ SECCIÓN CLAIM  ------------ */

.seccion-claim {
    width: 80vw;
    display: flex;
    flex-direction: column;
}
.seccion-claim__img {
    margin-top: 3.5em;
    margin-bottom: 4em;
    width: 100%;
}
.seccion-claim__stats {
    display: flex;
    flex-direction: column;
    width: 70%;
}
.seccion-claim__stats__item {
    width: auto;
    margin-bottom: 75px;
}
.seccion-claim__stats__item__ico {
    width: 2em;
    padding-left: .5em;
}
.p-stats {
    color: var(--very-dark-cyan);
    font-family: var(--fuente-cuerpo);
    font-weight: bold;
    font-size: 4em;
}
.p-stats-text {
    color: var(--light-gray);
    margin-bottom: .5em;
    text-align: center;
}

/* ----------- SECCIÓN VENTAJAS  ---------- */

.seccion-ventajas {
    width: 80vw;
    margin-top: 130px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 180px;
}
.seccion-ventajas__img {
    width: 95%;
    margin-bottom: 60px;
}
.seccion-ventajas__item {
    display: flex;
    flex-direction: column;
}

/* ------------- SECCIÓN CTA  ------------- */

.seccion-cta {
    margin-top: 250px;
    margin-bottom: 250px;
    width: 80vw;
    display: flex;
    flex-direction: column;
}
.seccion-cta__h2 {
    font-size: 1.8em;
    text-align: center;
}

/* ----------------   PIE   --------------- */

.pie {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    background-color: var(--very-dark-cyan);
    color: var(--white);
    padding: 65px 30px;
    grid-row-gap: 100px;
}
.pie__newsletter__h2,
.pie__p {
    color: var(--white);
    text-align: left;
}
.pie__newsletter__formulario {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.pie__info__logo {
    filter: invert(1) saturate(10) grayscale(1) brightness(10);
    margin-bottom: 10px;
    width: 60%;
}
.pie__info__contacto {
    display: grid;
    grid-template-columns: 30px auto;
    grid-template-rows: repeat(2, auto);
    margin-top: 40px;
    align-items: center;
    justify-content: left;
    grid-column-gap: 5px;
}
.pie__info__contacto img,
.pie__info__contacto p {
    margin-left: 0;
}
.pie__social {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 40px;
    margin-bottom: 0;
}
.pie__menu__social-ico {
    font-size: 1.7em;
    margin-right: .6em;
    margin-left: 0;
}
.pie__menu__social-ico:hover,
.pie__menu__social-ico:active {
    cursor: pointer;
    color: var(--pink);
}

/* ----------  BOTONES E INPUT  ------------*/

.cabecera__boton {
    background-color: var(--white);
    border: 1px solid var(--pink);
    color: var(--pink);
    border-radius: 25px;
    padding: .4em 1.4em;
    font-size: .8em;
    margin: 0;
}
.cabecera__boton:hover,
.cabecera__boton:active {
    cursor: pointer;
    color: var(--light-pink);
    border: 1px solid var(--light-pink);
}
.boton-cta {
    border: 0;
    color: var(--white);
    background-color: var(--pink);
    border-radius: 25px;
    padding: 1em 2.7em;
    font-size: .8em;
    font-weight: 600;
    filter: drop-shadow(0px 1px 2px var(--very-dark-cyan));
    margin-top: 2.5em;
    margin-bottom: 2em;
}
.boton-pie {
    border: 0;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--pink);
    margin-right: 0;
    font-size: .8em;
    font-weight: bold;
    padding: .9em 3.5em;
}
.boton-cta:hover,
.boton-cta:active,
.boton-pie:hover,
.boton-pie:active {
    cursor: pointer;
    background-color: var(--light-pink);
}
.input-pie {
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: .9em;
    margin-bottom: 12px;
}

/* -------------  ATRIBUCIÓN  ------------- */

.attribution { 
    padding: 1em 0;
    font-size: 11px; 
    text-align: center; 
    background-color: var(--light-gray);
}
.attribution a { 
    color: hsl(228, 32%, 30%); 
}

/* --------------------------------------------------------------------- */
/*                            MEDIA QUERIES                              */
/* --------------------------------------------------------------------- */

@media screen and (min-width: 800px) {

    h1 {
        font-size: 2em;
    }
    h2,
    .parrafo {
        text-align: left;
    }

    /* ------------------  CABECERA  ----------------- */

    .cabecera {
        padding: 2.5em;
    }
    .cabecera__logo {
        margin: 0;
        height: 2em;
    }
    .seccion-claim__img {
        width: 60%;
    }

    /* ------------ SECCIÓN CLAIM  ------------ */

    .seccion-claim__stats {
        flex-direction: row;
    }
    .seccion-claim__p {
        text-align: center;
        width: 35%;
        font-size: .9em;
        line-height: 1.5em;
        margin-top: 0;
    }

    /* ----------- SECCIÓN VENTAJAS  ---------- */

    .seccion-ventajas__item {
        flex-direction: row-reverse;
        align-items: center;
    }
    .seccion-ventajas__item:nth-of-type(2) {
        flex-direction: row;
    }
    .seccion-ventajas__item__text {
        padding-left: 50px;
        padding-right: 50px;
    }

    /* ----------- SECCIÓN CTA  ---------- */

    .seccion-cta {
        margin-top: 120px;
        margin-bottom: 120px;
    }

    /* ----------------   PIE   --------------- */

    .pie {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: 1fr;
        padding: 100px 70px;
    }
    .pie__info {
        order: -1;
    }
    .pie__info__logo {
        width: 35%;
    }
    .pie__newsletter__formulario {
        flex-direction: row;
    }
    .pie__info__logo {
        margin-top: 0;
    }
    .pie__newsletter h2 {
        margin-top: 0;
    }
    .pie__p {
        padding-right: 135px;
    }

    /* ----------  BOTONES E INPUT  -----------*/

    .cabecera__boton {
        padding: .5em 1.8em;
        font-size: 1em;
    }
    .input-pie {
        margin: 0;
        width: 64%;
    }
}